body{
    background: fixed;
    
}
.container-fluid{
    margin: 8vh;
    
    background-color: chartreuse;
}
h2{
    display: block;
    text-align: center;
}
.todo-main{
    padding: 0 1vw;
    padding-bottom: 8vh;
}
.todo{
    margin-top: -4vh;
} 
.sortable {
     list-style-type: none; 
     padding:2px; 
     min-height:30px; 
     border-radius: 5px; 
}
.card{
    padding: 2vh;
    margin-bottom:2vh;
    background-color: chocolate;
    font-size: 1.25rem;
}


.input_div{
    padding-left: 1vw;
    display: flex;
    font-family: 'Lucida Sans';
}
.input_div .input{
    padding-left: 10px;
    height: 50px;
    width: 25vw;
    outline: none;
    font-size: 1rem;
    border-radius: 15px;
    margin: .2rem;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(78, 109, 16);
}

.addButton{
    height: 50px;
    width: 50px;
    outline: none;
    font-size: 1rem;
    border-radius: 15px;
    margin: .25rem;
    margin-left: .5rem;
    border: none;
    color: rgb(158, 224, 114);
    cursor: pointer;
    background-color: rgb(253, 250, 250);
}
.addButton:hover{
    opacity: 0.5;
}